{# This is a test #}
Hello
{#- Pre Delete #}
Goodbye
    {# More Test #}Wow
    {#- More Test #}Wow
    {#^ More Test #}Wow
{#+ More Test #}Wow
{#- What Now -#}
Test

More{# Test +#}Test
Test{# Eat up the nl -#}
Test2{# Eat up the spaces only. ^#}  
Test3
{# Empty Test #}{#+ Yep +#}{# Empty #}
Test{{* "Before" }}Test{{ "After" *}}Test{{* "Both" *}}Test
