{% autostrip %}

{% set x=1, y=2, z=3, g@x=4, g@y=5, g@z=6 %}

{{ x +}}
{{ y +}}
{{ z +}}
{{ g@x +}}
{{ g@y +}}
{{ g@z +}}

{% clear %}

{% set a=x ; else a=0 %}
{% set b=y ; else b=1 %}
{% set c=z ; else c=2 %}
{% set d=g@x ; else d=0 %}
{% set e=g@y ; else e=1 %}
{% set f=g@z ; else f=2 %}


{{ a +}}
{{ b +}}
{{ c +}}
{{ d +}}
{{ e +}}
{{ f +}}

{% clear global %}


{% set d=g@x ; else d=0 %}
{% set e=g@y ; else e=1 %}
{% set f=g@z ; else f=2 %}

{{ d +}}
{{ e +}}
{{ f +}}
