{% autostrip %}

{% import
    mylib = "mrbaviirc.template",
    yourlib = "mrbaviirc.template"
%}

{{ mylib.stringlib.concat("Hello", "World", "Goodbye", "World") +}}
{{ yourlib.stringlib.concat("Feed", "Me") +}}

