{% autostrip %}
{% set l = [] %}
{{ lib.len(l) +}}
{% do l.append(12) %}
{{ lib.len(l) +}}
{{ l[0] +}}

{# Test to ensure each iteration sets the same value +#}
{% foreach i in [1,2,3] %}
{% set k = [1,2,3,4] %}
{% do k.append(5) %}
{% foreach j in k %}
{{ j }}
{% endfor +%}
{% endfor %}

{# Empty list and dict +#}
{{ [] +}}
{{ [:] +}}

{# Specific dict values +#}
{% set d = ["Bob": 23, "Susan": 45] %}
{{ d["Bob"] +}}
{{ d["Susan"] +}}

