{% autostrip %}

{% include "return_1.inc" return result with a = 5, b = 10 %}

{{ result.a +}}
{{ result.b +}}

{% include "return_1.inc" return gamma with a = 10, b = 5 %}

{{ gamma.a +}}
{{ gamma.b +}}
