{% autostrip %}

{% set x=1, g@y=2, p@z=3 %}

{{ x +}}
{{ g@y +}}
{{ p@z +}}

{% save x, g@y, p@z %}

{{ x +}}
{{ g@y +}}
{{ p@z +}}

{% set x=31, g@y=32, p@z=33 %}

{{ x +}}
{{ g@y +}}
{{ p@z +}}

{% endsave %}

{{ x +}}
{{ g@y +}}
{{ p@z +}}
