{% autostrip %}

{% set x="local1", l@y="local2", l@_z="local3" %}
{% set _px="private1", p@py="private2" %}
{% set _global_ = 17 %}

{{ _px +}}
{{ p@_px +}}
{{ p@py +}}
{{ _global_ +}}

{% include "scope_1.inc" %}
{{ x +}}
{{ y +}}
{{ _global_ +}}

